/* @media print{
    .assign-one{
    font-size: 40px;
    }
} */
                        /* 2 */
/* *{
    margin: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: space-around;
}
.container div{
    background-color: #ddd;
    width: 100%;
    color: black;
    text-align: center;
    padding: 10px;
}
.container h2 {
    font-size: 20px;
}
.container p {
    font-size: 12px;
}

@media (max-width: 767px) {
    .container div{
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .container div {
            width: 49%;
            color: rgb(252 35 35);
                }
}

@media (min-width: 992px) {
    .container div {
            width: 24%;
            color: rgb(18 157 144);
        }
} */

                            /* 3 */
* {
    margin: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.container div {
    background-color: #ddd;
    width: 100%;
    color: black;
    text-align: center;
    padding: 10px;
    margin-bottom: 8px;
}
.container h2 {
    font-size: 20px;
}

.container p {
    font-size: 12px;
}
@media (max-width: 767px) {
    .container div {
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .container div:first-child{
        width: 99%;
        color: rgb(252 35 35);
    }
    .container div {
        width: calc( 97% / 3 );
        color: rgb(252 35 35);
    }
}

@media (min-width: 992px) {
    .container div:first-child , .container div:last-child{
            width: 99%;
            color: rgb(18 157 144);
        }
    .container div {
        width: calc(98% / 2);
        color: rgb(18 157 144);
    }

}