/* .parent .child .title{
    color: red;
}
.parent .title{
    color: blue;
}
.parent p,
.title{
    color: green;
} */

                                /* 2 */
div{
    margin: 20px;
    padding: 15px;
    background-color: rgba(151, 6, 6, 0.767);
    max-width: 400px;
    max-height: 20px;
    overflow: hidden;
}