/* div{
    border: orange 3px solid;
    padding: 20px;
}
div p{
    background-color: #eee;
    text-align: center;
    border: inherit;
    padding: inherit;
}
.P1{
        font-family: 'Open Sans', sans-serif;
}
.P2{
    font-family: 'Cairo', sans-serif;
}
.P3{
        font-family: 'Jomhuria'
} */

                                                    /* 2 */
html{
    font-size: 20px;
}                                                    
.P1{
    font-size: 2.5em;
}
.P2{
    font-size: 2em;
}
.P3{
    font-size: 1.5em;
}